.center {
    // margin-left: 150px;
    // margin-right: auto;
    padding : 25px;
    display: block;
    word-wrap: break-word;
    width: auto;
    height: auto;
}

.textAdjustment {
    line-height: 1.6;
    word-wrap: break-word;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
  }


.namaProvinsi{
    font-size:36px;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: center;
}