<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IIMAP
    </ion-title>

    <!-- <ion-buttons slot="primary" *ngIf="flag == 1">
      <ion-button routerLink="/profile">
        Profile
      </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="primary" *ngIf="flag == 1" >
      <ion-button color="twitter" shape="round" (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="primary" *ngIf="flag == 0" >
      <ion-button color="twitter" shape="round" routerLink="/login">
        Login
      </ion-button>
    </ion-buttons> 
    
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Peta Budaya Indonesia</ion-card-title>
    </ion-card-header>
    <ion-card-content>Berikut merupakan peta Indonesia, silahkan di klik untuk mengetahui lebih lanjut</ion-card-content>
    <img src="assets/map.jpg" usemap="#image-map">
    <map name="image-map" id="image-map">
      <area target="" alt="aceh" title="aceh" href="/provinsi/aceh"
        coords="6,77,17,97,28,104,33,113,41,116,59,136,68,148,60,112,72,101,64,88,57,80,34,81,22,73,13,71" shape="poly">
      <area target="" alt="sumatra utara" title="sumatra utara" href="/provinsi/sumatrautara"
        coords="71,103,107,127,113,138,115,157,111,175,90,184,78,153,68,147,63,114" shape="poly">
      <area target="" alt="riau" title="riau" href="/provinsi/riau"
        coords="117,141,128,143,145,149,158,159,176,171,191,191,182,209,162,215,143,212,129,201,121,184,112,177"
        shape="poly">
      <area target="" alt="sumatra barat" title="sumatrabarat" href="/provinsi/sumatrabarat"
        coords="95,188,108,177,127,201,145,216,137,241,116,266,78,224" shape="poly">
      <area target="" alt="jambi" title="jambi" href="/provinsi/jambi"
        coords="147,214,163,220,180,212,201,215,202,230,178,240,155,253,138,242" shape="poly">
      <area target="" alt="bengkulu" title="bengkulu" href="/provinsi/bengkulu"
        coords="132,247,141,245,154,256,173,271,173,287,188,294,174,295" shape="poly">
      <area target="" alt="sumatra selatan" title="sumatraselatan" href="/provinsi/sumatraselatan"
        coords="207,229,224,246,236,260,235,282,223,273,199,292,193,295,176,285,175,267,155,254" shape="poly">
      <area target="" alt="kepulauan riau" title="kepulauanriau" href="/provinsi/kepriau" coords="208,205,219,196,212,168,203,170,201,201"
        shape="poly">
      <area target="" alt="lampung" title="lampung" href="/provinsi/lampung" coords="188,298,222,276,239,289,234,318,209,320" shape="poly">
      <area target="" alt="bangka belitung" title="bangkabelitung" href="/provinsi/kepbabel"
        coords="221,234,239,224,283,252,287,263,250,260" shape="poly">
      <area target="" alt="banten" title="banten" href="/provinsi/banten" coords="221,341,238,319,252,323,245,344" shape="poly">
      <area target="" alt="jakarta" title="jakarta" href="/provinsi/dkijakarta" coords="250,331,257,331,259,323,253,321" shape="poly">
      <area target="" alt="jawa barat" title="jawa barat" href="/provinsi/jabar"
        coords="245,344,249,354,271,357,277,361,297,359,298,342,287,327,269,323,261,325,259,332,250,334" shape="poly">
      <area target="" alt="jawa tengah" title="jawa tengah" href="/provinsi/jateng"
        coords="326,354,341,360,349,351,355,339,298,340,297,357,321,361" shape="poly">
      <area target="" alt="yogyakarta" title="yogyakarta" href="/provinsi/jogjakarta"
        coords="325,363,330,359,338,363,339,370" shape="poly">
      <area target="" alt="jawa timur" title="jawa timur" href="/provinsi/jatim"
        coords="361,340,387,341,415,341,420,363,421,383,385,376,349,371" shape="poly">
      <area target="" alt="bali" title="bali" href="/provinsi/bali" coords="423,369,438,367,448,374,436,388,423,376" shape="poly">
      <area target="" alt="ntb" title="ntb" href="/provinsi/ntb" coords="459,369,498,367,525,382,473,390,458,387,451,382" shape="poly">
      <area target="" alt="ntt" title="ntt" href="/provinsi/ntt"
        coords="535,376,551,373,581,376,602,370,649,370,653,400,600,432,540,415,516,399" shape="poly">

      <area target="" alt="papua" title="papua" href="/provinsi/papua" coords="993,390,991,250,971,246,943,234,927,225,886,209,870,207,876,232,888,251,861,259,858,282,867,292,876,292,928,307,936,330,940,349,927,359,920,373,936,377,955,369,971,372,983,379" shape="poly">
      <area target="" alt="papua barat" title="papua barat" href="/provinsi/papuabarat" coords="856,250,855,281,842,277,837,272,837,262,831,280,821,282,818,275,817,265,798,257,802,250,816,246,801,238,794,227,769,241,749,233,758,220,759,197,767,189,791,195,812,197,830,198,843,208,856,220,866,235" shape="poly">
      <area target="" alt="kalimantan barat" title="kalimantan barat" href="/provinsi/kalimantanbarat" coords="317,150,318,160,339,176,347,172,362,174,371,168,378,163,400,166,414,167,411,173,409,179,399,185,400,194,396,199,391,206,380,209,365,211,356,222,347,229,346,239,350,247,342,255,333,256,328,243,324,238,329,223,317,217,312,222,305,202,306,191,300,180,305,162,309,151" shape="poly">
      <area target="" alt="kalimantan tengah" title="kalimantan tengah" href="/provinsi/kalimantantengah" coords="344,257,353,248,347,232,359,222,367,211,378,210,391,208,401,197,401,184,411,181,421,180,434,179,435,193,439,207,441,213,448,217,448,223,442,225,440,238,431,242,429,249,420,254,417,265,405,267,381,268,368,269" shape="poly">
      <area target="" alt="kalimantan selatan" title="kalimantan selatan" href="/provinsi/kalimantanselatan" coords="457,282,423,284,423,267,422,254,434,244,441,237,444,225,453,223,454,240,462,244,461,264" shape="poly">
      <area target="" alt="kalimantan timur" title="kalimantan timur" href="/provinsi/kalimantantimur" coords="464,241,453,237,452,223,449,214,440,212,439,196,433,179,411,178,416,174,414,165,422,165,440,168,456,170,461,161,465,143,476,136,489,139,497,146,495,154,504,164,516,172,515,177,502,177,489,184,485,194,486,206,476,216,463,226" shape="poly">
      <area target="" alt="kalimantan utara" title="kalimantan utara" href="/provinsi/kalimantanutara" coords="424,164,451,169,459,159,463,145,476,138,490,140,499,145,508,141,492,128,484,117,496,117,489,106,500,102,465,95,452,100,445,110,440,126,432,135,425,149" shape="poly">
    

      
    </map>
  </ion-card>
  
<div>
  <h1>Facts of the Day</h1>
</div>

<ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <!-- <h3>Name</h3> -->
        <h3> {{posting[posting.length-1].userid}} </h3>
        <!-- <p>Time</p> -->
      </ion-label>
      
    </ion-item>
  <ion-card-content>
    <!-- Bali is good. -->
    {{posting[posting.length-1].comment}}
    <br><br>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-card-content>
</ion-card>

<ion-card>
  <form #f="ngForm" (ngSubmit)="submitPost(f)">
    <!-- <ion-item>
      <ion-label position="floating">Uid</ion-label>
      <ion-input type="text" ngModel name="uid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">key</ion-label>
      <ion-input type="text" ngModel name="key"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Buat postingan</ion-label>
      <ion-input type="text" ngModel name="comment"></ion-input>
    </ion-item>
    <ion-button type="submit" color="primary" expand="block">POST</ion-button>
  </form>
</ion-card>

</ion-content>
